@{
    Layout = null;
}

@model Routes.Models.RecentDataModel
<div class="posts-wrap color">
    <h3>Recent Comments</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <p class="date">@item.Date.ToString("D") <span>@item.Date.ToString("hh:mm")</span></p>
                <p class="post">
                    
                    @*<a href="@Url.Action("ById", "Comment", new {id = item.ID})">Hello!!!!</a>*@
                    @Html.ActionLink("World!!!!!", "ById", "Comment", new { id = item.ID }, null)
                    @*<a href="@Url.RouteUrl("default1", new { controller = "Comment", action = "ById", id = item.ID })">@item.Text</a>*@
                    @*@Html.RouteLink("Hello from Mars", "article", new { seoUrl = item.Text })*@
                </p>
            </li>
        }
    </ul>
</div>