@{Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello Username. Current Date is @DateTime.Now.ToShortDateString() Current time is @DateTime.Now.ToShortTimeString()
    </div>

    <table>
        @for (var i = 1; i <= 7; i++)
        {
            <tr>
                <td>@(i - 1)</td>
                <td>@(7 - i)</td>
                <td>@DateTime.Now.Date.AddDays(i).ToShortDateString()</td>
                <td>@DateTime.Now.Date.AddDays(i).DayOfWeek</td>
            </tr>
        }
    </table>

    @{ var messageFromSpace = "Hello from outer space."; }
    @{ var messageFromEarth = "Hello aliens. We hope you came with peace."; }

    <p style="color:red;">@messageFromSpace</p>
    <p style="color:green;">@messageFromEarth</p>

    @{
        var messageFromMenInBlack = "This is men in black. Today " + DateTime.Now + " our cosmoport is closed. Please visit us next time.";
        var messageFromObama = @"Sorry aliens. Men in black said ""our cosmoport is closed""";
    }

    <p style="color:purple">@messageFromMenInBlack</p>
    <p style="color:blue">@messageFromObama</p>

    @{ var messageHTML = "<p>this is a HTML message</p>"; }
    <span>@messageHTML</span>

    <span>@Html.Raw(messageHTML)</span>
    <!-- This is also a comment  -->
    This is a comment
</body>
</html>